body{
margin:0;
font-family:Arial;
background:transparent;
color:white;
}

#overlay{
position:absolute;
top:40px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:140px;
align-items:center;
}

.team{
padding:20px 60px;
border:2px solid var(--main);
box-shadow:0 0 25px var(--main);
border-radius:12px;
text-align:center;
}

.score{
font-size:70px;
color:var(--main);
}

.center{
text-align:center;
}

.round{
font-size:22px;
opacity:0.8;
}

.panel{
padding:20px;
}

.preview iframe{
width:600px;
height:180px;
border:2px solid var(--main);
}

button{
margin:5px;
padding:10px;
background:var(--main);
border:none;
color:black;
cursor:pointer;
border-radius:8px;
}
